
@media screen and (max-width: 320px) {
    .container {
        width: 100%;
        /* border: 1px solid aqua; */
    }
  }
  
  @media screen and (min-width: 321px) and (max-width: 480px) {
    .container {
        width: 480px;
        /* border: 1px solid blue; */
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 768px;
        /* border: 1px solid green; */
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        display: 100%;
        width: 1024px;
        /* border: 1px solid yellow; */
    }
  }
  
  @media screen and (min-width: 1025px) and (max-width: 1200px) {
    .container {
        width:1200px;
        /* border: 1px solid orange; */
    }
  }
  
  @media screen and (min-width: 1201px) {
    .container {
        width: 100%;
        /* border: 1px solid blue; */
    }
  }